body {margin:0px;
      font-size: 22px;
      font-family:helvetica;
      background-color: black;
      display:flex;
      justify-content: center;}

header {background-color: black;
        height: 69px;
        display: flex;
        align-items:center;
        border-bottom:1px solid seashell;
        position: fixed;
        width:100%
}

#logo {height:50px;
      padding-left: 10px;}

.links {color:seashell;
        padding:13px;}

#links {text-align: right;
        display: block;
        width:100%;}

#parent {display:flex;
        flex-direction:column;
        border:1px solid white;
        align-items: center;}

#mission {
          display:inline-flex;
          height:700px;
          background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
          justify-content: center;
}
#ourmission {
  background-color:black;
  width:1200px;
  color:white;
  display:block;
  align-self: center;
  text-align: center;
}

#teas {
      width:1000px;
      border:1px solid white;
      height: 700px;
      color: white;
      text-align: center;
      padding-top:20px;}

#images img {height:200px;
    width:300px;}
  span {display:inline-flex;
        flex-direction: column;
        padding-right:18px;
}
